langchain
langchain-groq
langchain-community
langchain-core
langchain-openai
langchain-ollama
langchain-google-genai
langchain_experimental
langchain-huggingface
faiss-cpu
pypdf
python-dotenv
ipykernel
tiktoken
chromadb
sentence-transformers
langchain-text-splitters
pymupdf
ipywidgets
unstructured
docx2txt
docx
exceptions
python-docx
openpyxl
matplotlib
rank_bm25
jq
