langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
langchain-ollama
chromadb
sentence-transformers
langchain-huggingface
langchain-chroma
langchain-groq
tqdm
faiss-cpu
dotenv
streamlit
torchvision
langserve
fastapi
uvicorn
sse_starlette