langchain
langchain_community
langchain-openai
langchain-ollama
langchain-chroma
langchain-groq
langchain_huggingface
langchain-google-genai
langchain_core
chromadb
streamlit
faiss-cpu
sentence-transformers
torchvision
PyPDF
arxiv==1.4.8
wikipedia
ipykernel
langchainhub
python-dotenv
pypdf
bs4
pymupdf
langchain-text-splitters
duckdb
pandas
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
validators
ddgs